table{
  text-align: center;


}
.table-mid-color{
  background-color: #f7f7fc;
}
.alert{
  background-color: #ff1149;
}
.alert-info{
  background-color: #ff1149;
  font-size: small;
  margin-bottom: 5px;
}
.solid-data{
  background-color: rgba(219, 171, 182, 0.51);
  font-size: 1.5rem;
  position: relative;
  button{
    position:absolute;
    left:20px;
    bottom: 7px;
  }
}

.taking-care-records{
  background-color: rgba(188, 220, 179, 0.51);
  font-size: 1.5rem;
}

.plants-container {
  overflow: auto;
  max-height: 90vh;
}
