body {
  padding: 2rem;
}

.student-table {
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.student-table td, .student-table th {
  border: 1px solid #444;
  padding: 1rem;
}

.student-table th {
  background-color: #444;
  border: 1px solid #666;
  color: #ccc;
}

.student-table .sorting-menu {
  margin-left: 0.5rem;

}

.student-table .sorting-menu .select-container p {
  margin: 0.2rem;
  font-size: 0.8rem;
}
