table{
  text-align: center;


}
.table-mid-color{
  background-color: #f7f7fc;
}
.solid-data{
  background-color: rgba(219, 171, 182, 0.51);
  font-size: 1.5rem;
}

.taking-care-records{
  background-color: rgba(188, 220, 179, 0.51);
  font-size: 1.5rem;
}

.plants-container {
  overflow: auto;
  max-height: 50vh;
}
